body {
  background-image: url("https://images.unsplash.com/photo-1559183533-ee5f4826d3db?ixlib=rb-1.2.1&auto=format&fit=crop&w=1313&q=80");
  background-repeat:repeat;
}
h2{
  text-align: center;
}
h4 {
color: white;
text-align: center;
margin-top: 40px;
}

h2 {
color: white;
}

.col-md-6 {
  color: white;
  font-weight: bold;
  font-size: 15px ;
}

p{
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.output p {
  margin-left: 20px;
  margin-top: 20px;
}
